:root {
  --primary-bg: #00a99d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}
.ant-btn {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 300px;
}
a {
  text-decoration: none;
  color: var(--primary-bg);
  transition: 200ms ease;
  &:hover {
    opacity: 0.8;
  }
}

.icon {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.ant-table-cell button {
  width: auto;
  display: inline;
  margin: 0 5px;
  padding: 0px 6px;
  opacity: 0;
}
.ant-table-row:hover .ant-table-cell button {
  opacity: 1;
}
.table__container {
  margin: auto;
  max-width: 1000px;
}
@media all and (width <= 768px){
  body {
    padding: 0 20px;
  }
}