:root {
  --primary-bg: #00a99d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}
.ant-btn {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 300px;
}
a {
  text-decoration: none;
  color: var(--primary-bg);
  transition: 200ms ease;
  &:hover {
    opacity: 0.8;
  }
}

@media all and (width <= 768px){
  body {
    padding: 0 20px;
  }
}